@{
    ViewBag.Title = "Family Feud";
}

<script src="Scripts/jquery-1.7.1.js"></script>
<script src="Scripts/knockout-2.0.0.js"></script>
<script src="Scripts/knockout.mapping-latest.js"></script>
<script src="Scripts/jquery.signalR.js"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="Scripts/FamilyFeud.js"></script>

<!-- Primary Page Layout
	================================================== -->
<!-- Delete everything in this .container and get started on your own site! -->
<div class="container">
    <div class="sixteen columns">
    <div id="error" class="validation-summary-errors"></div>
        <div class="totalScore center">
            <h1 id="totalScore" class="score total center" data-bind="text: totalScore">
                </h1>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="three columns">
    <div class="center">
        <input class="family" type="text" value="Family 1" />
        <div>
            <a id="family1WrongAnswer" href="#" class="hiddenButton wrongAnswer"></a>
            <h2 id="family1Score" class="score" data-bind="text:familyOneScore"></h2>
        </div>
    </div>
    <ul id="family1WrongAnswers" class="numberWrong">
        <li style="display:none">x</li>
        <li style="display:none">x</li>
        <li style="display:none">x</li>
    </ul>
    </div>
    <script type="text/html" id="answer-template">
        <li>
            <a class="hiddenButton" href="#" data-bind="click: $parent.answerClick"></a>
            <div class="answerNumber" data-bind="visible: $parent.showAnswerNumber(isAvailable)">
                <h2 data-bind="text: answerNumber"></h2>
            </div>
            <div class="answer" data-bind="visible: $parent.isHost || showAnswer">
                <div class="answerText">    
                    <p data-bind="text: text"></p>
                </div>
                <div class="miniScore">
                    <p data-bind="text: points"></p>
                </div>
            </div>
        </li>
    </script>

    <div class="five columns answers center">  
        <ul data-bind="template: { name: 'answer-template', foreach: firstFourAnswers }"></ul>
    </div>
    <div class="five columns answers center">
        <ul data-bind="template: { name: 'answer-template', foreach: lastFourAnswers }"></ul>
    </div>

    <div class="three columns center">
        <input class="family" type="text" value="Family 2" />
        <div>
            <a id="family2WrongAnswer" href="#" class="hiddenButton wrongAnswer"></a>
            <h2 id="family2Score" class="score" data-bind="text:familyTwoScore"></h2>
        </div>
        <ul id="family2WrongAnswers" class="numberWrong">
            <li style="display:none">x</li>
            <li style="display:none">x</li>
            <li style="display:none">x</li>
        </ul>
    </div>
    <div class="sixteen columns center">
    <h3 data-bind="text:questionText"></h3>
    </div>
    <div class="sixteen columns"><br /></div>
    <div class="sixteen columns"><br /></div>
    <div class="sixteen columns"><br /></div>
    <div class="sixteen columns"><br /></div>
    <div class="sixteen columns">
    <div class="resetButton" data-bind="click:setHostClick">Become Host<a href="#" class="hiddenButton"></a></div>
    <div class="resetButton" data-bind="visible: isHost">Reset<a href="#" id="resetButton" class="hiddenButton"></a></div>
    <div class="resetButton" data-bind="visible: isHost">Next Round<a href="#" id="nextRoundButton" class="hiddenButton"></a></div>
    <div class="resetButton" data-bind="visible: isHost, text:currentGameIndex"><a href="#" id="nextRoundButton" class="hiddenButton"></a></div>
    </div>
</div>



<div id="junk" style="display: none">
  <audio id="bellSound" src="http://dl.dropbox.com/u/22788/FamilyFeud-Bell.mp3" autobuffer="autobuffer" controls="" ></audio>
  <audio id="buzzerSound" src="http://dl.dropbox.com/u/22788/FamilyFeud-Buzzer3.mp3" autobuffer="autobuffer" controls="" ></audio>
</div>

<!-- container -->
