<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
	<connectionStrings>
		<!--<add name="FamilyFeudContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FamilyFeud.Service.Storage.Context.FamilyFeudContext;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE" providerName="System.Data.SqlClient" />-->
    <add name="FamilyFeudContext" connectionString="Server=b249eced-8045-4b21-9078-9ffd010cdff2.sqlserver.sequelizer.com;Database=dbb249eced80454b2190789ffd010cdff2;User ID=ptkjdezcisbhgfvw;Password=jLyXzheGFLAFxqSQksbj8VVQLBeKrQxtbWrBDMBCPYXCSyPe8vf5mP4vXRk7cAqX;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>