@{
    ViewBag.Title = "Index";
}

<div class="container white">

    @*make game*@
    <div class="twelve columns">
        <button data-bind="click: back">Back To List</button>
        <button data-bind="click: save">Save</button>
        <button data-bind="click: play">Play!</button>
    </div>
    <div class="eight columns">
        <label>
            <h2>Game Name:</h2>
            <input type="text" data-bind="value:name" />
        </label>
        <ul data-bind="foreach: gameRounds">
            <li>
                <div class="row">
                    <div class="five columns">
                        <a href="#" data-bind="click: questionClicked">
                            <span data-bind="text: questionText" />
                        </a>
                    </div>

                    <div class="two columns">
                        <a href="#" data-bind="click: $parent.moveRoundDown">down</a>
                        <a href="#" data-bind="click: $parent.moveRoundUp">up</a>
                        <a href="#" data-bind="click: $parent.removeRound">del</a>
                    </div>
                </div>
                <div data-bind="visible: isVisible">
                    <div class="row">
                        <div class="one columns">#</div>
                        <div class="five columns">
                            <label>Answer</label>
                        </div>
                        <div class="two columns">
                            <label>Points</label>
                        </div>
                    </div>
                    <div data-bind="foreach: answers ">
                        <div class="row">
                            <div class="one columns" data-bind="text: answerNumber"></div>
                            <div class="five columns">
                                <input type="text" data-bind="value: text" />
                            </div>
                            <div class="two columns">
                                <input type="text" data-bind="value: points" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="eight columns">

        @(Html.Telerik().Grid<FamilyFeud.Service.Models.Question>()
        .DataBinding(dataBinding => dataBinding.Ajax().Select("_AllQuestions", "Game"))
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(o => o.ID)
                   .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= ID #>' />")
                   .Title("")
                   .Width(36)
                   .Filterable(false)
                   .HtmlAttributes(new { style = "text-align:center" });

            columns.Bound(o => o.QuestionText).Title("Question");
        })
        .DetailView(details => details.ClientTemplate(
            Html.Telerik().Grid<FamilyFeud.Service.Models.Answer>()
                .Name("Answers_<#= ID #>")
                .DataBinding(dataBinding => dataBinding.Ajax()
                    .Select("_AnswersForQuestionAjax", "Game", new { questionID = "<#= ID #>" }))
                .Columns(columns =>
                {
                    columns.Bound(q => q.AnswerText).Title("Answer");
                    columns.Bound(q => q.AnswerPointValue).Title("Points");
                })
                .ToHtmlString()
        ))
                //.Pageable()
                //.Sortable()
                //.Groupable()
        .Filterable()
                //.Scrollable(scrolling => scrolling.Height(580))
)
    </div>

</div>

@section scripts {
    <script src="/Scripts/GameEditor.js"></script>
    <script type="text/javascript">
        var pageData = @Html.Raw(ViewBag.PageData);
        var routes = {
            list: "@Url.Action("Index")",
            play: "@Url.Action("Play")"
        };
        var masterViewModel;

        $(function () {
            masterViewModel = new gameViewModel(pageData);
            ko.applyBindings(masterViewModel);

            $('input[type="checkbox"]').live('click', ui.gridCheckBoxClicked);
        });

    </script>
}