@{
    ViewBag.Title = "Index";
}

<div class="container white">
    <h2>@Html.ActionLink("Create a new game","New")</h2>

    @(Html.Telerik().Grid<FamilyFeud.Service.Models.Game>()
        .DataBinding(dataBinding => dataBinding.Ajax()
            .Select("_AllGames", "Game")
            .Delete("_DeleteGame", "Game")
        )
            
        .Name("GamesGrid")
        .DataKeys(keys => keys.Add(x=>x.ID))
        .Columns(columns =>
        {
            columns.Bound(x => x.ID)
                  .ClientTemplate("<a href='/game/Play/<#= ID #>' class='t-button' >Play!</a>")
                  .Title("")
                  .Width(20)
                  .Filterable(false)
                  .HtmlAttributes(new { style = "text-align:center" });
            
            columns.Bound(x => x.ID)
                  .ClientTemplate("<a href='/game/Edit/<#= ID #>' class='t-button' >Edit</a>")
                  .Title("")
                  .Width(20)
                  .Filterable(false)
                  .HtmlAttributes(new { style = "text-align:center" });

            columns.Command(commands =>
                {
                    commands.Delete();
                })
                .Title("")
                .Width(20);

            columns.Bound(x => x.Name);
        })
            //.Pageable()
            //.Sortable()
            //.Groupable()
        .Filterable()
            //.Scrollable(scrolling => scrolling.Height(580))

)

</div>
