/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /*the color here #2c2721 was the bottom color
    of my gradient image - a seamless fade*/
    background: rgb(46,80,122); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(46,80,122,1) 0%, rgba(14,14,14,1) 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,80,122,1)), color-stop(80%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(46,80,122,1) 0%,rgba(14,14,14,1) 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(46,80,122,1) 0%,rgba(14,14,14,1) 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(46,80,122,1) 0%,rgba(14,14,14,1) 80%); /* IE10+ */
    background: linear-gradient(top,  rgba(46,80,122,1) 0%,rgba(14,14,14,1) 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e507a', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

h3
{
    color:White;
}

div, li
{
    position:relative;
}

.totalScore
{
    margin: 0px auto;
    width: 160px;
}

.score
{
    background: blue;
    margin: 10px;
    padding: 10px;
    color: White;
    background-image: linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -o-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -moz-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -webkit-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -ms-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.42, rgb(10,49,245)),
	    color-stop(0.71, rgb(36,79,255)),
	    color-stop(0.86, rgb(65,111,255))
    );
}

.center
{
    text-align: center;
}

/* Each answer */
div.answers ul li
{
    margin:20px 0px;
    color: White;
    display: block;
    height:50px;
    position:relative;

    background: blue;
    background-image: linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -o-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -moz-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -webkit-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);
    background-image: -ms-linear-gradient(bottom, rgb(10,49,245) 42%, rgb(36,79,255) 71%, rgb(65,111,255) 86%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.42, rgb(10,49,245)),
	    color-stop(0.71, rgb(36,79,255)),
	    color-stop(0.86, rgb(65,111,255))
    );
}

/* Hidden a tag */
a.hiddenButton
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

a.hiddenButtonLeft
{
    width:50%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

a.hiddenButtonRight
{
    width:50%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
}

/* Answer Number to hide question */
div.answerNumber h2
{
    vertical-align:middle;
    color:White;
}

/* Answer Div */
div.answer
{
    height:100%;
    width:100%;
}

/* Every div in answers? */
div.answers ul li div
{
    display: inline-block;
    font-size:1.0em;
    vertical-align:middle;
    height:100%;
}

/* Answer Text Container*/
div.answerText
{
    width: 83%;
    height:100%;
    background-color: Purple;
    background-image: linear-gradient(bottom, rgb(45,13,106) 30%, rgb(72,39,138) 65%, rgb(101,67,166) 83%);
    background-image: -o-linear-gradient(bottom, rgb(45,13,106) 30%, rgb(72,39,138) 65%, rgb(101,67,166) 83%);
    background-image: -moz-linear-gradient(bottom, rgb(45,13,106) 30%, rgb(72,39,138) 65%, rgb(101,67,166) 83%);
    background-image: -webkit-linear-gradient(bottom, rgb(45,13,106) 30%, rgb(72,39,138) 65%, rgb(101,67,166) 83%);
    background-image: -ms-linear-gradient(bottom, rgb(45,13,106) 30%, rgb(72,39,138) 65%, rgb(101,67,166) 83%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.3, rgb(45,13,106)),
	    color-stop(0.65, rgb(72,39,138)),
	    color-stop(0.83, rgb(101,67,166))
    );
}

/* Answer Text */

div.answerText p
{
    padding:5px 0px;
    margin:8px;
    font-size:1.25em;
}


/* Answer Score */
div.miniScore
{
    width: 15%;
}

div.miniScore p
{
    padding:5px 0px;
    margin:8px;
    font-size:1.5em;
}

div.glow
{
    -webkit-box-shadow:0 0 15px #ffffff; 
    -moz-box-shadow: 0 0 15px #ffffff; 
    box-shadow:0 0 15px #ffffff; 
}

ul.numberWrong
{
    text-align:center;
}

ul.numberWrong li
{
    display:inline-block;
    color:Red;
    font-size:4em;
}

.family
{
    text-align:center;
    font-size:1.5em ! important;
}

.resetButton {
	padding:5px 0px;
	margin-bottom:20px;
	border:1px solid #828282;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:top;
	background-color:#878787;
	-webkit-box-shadow: 0px 0px 6px 2px #cccccc;
	-moz-box-shadow: 0px 0px 6px 2px #cccccc;
	box-shadow: 0px 0px 6px 2px #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
    background-image: linear-gradient(bottom, #939393 0%, #757575 50%, #C9C9C9 100%);
    background-image: -o-linear-gradient(bottom, #939393 0%, #757575 50%, #C9C9C9 100%);
    background-image: -moz-linear-gradient(bottom, #939393 0%, #757575 50%, #C9C9C9 100%);
    background-image: -webkit-linear-gradient(bottom, #939393 0%, #757575 50%, #C9C9C9 100%);
    background-image: -ms-linear-gradient(bottom, #939393 0%, #757575 50%, #C9C9C9 100%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, #939393),
	    color-stop(0.5, #757575),
	    color-stop(1, #C9C9C9)
    );
}

.resetButton
{
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */


    margin:10px;
    padding:10px;
}



/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px)
{
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px)
{
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
{
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px)
{
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px)
{
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/